$font_color:#3C948B;
$header_color:#f4f4f4;
$body_color:#e8e8e8;
$footer_color:#202121;
$white:#fff;
$black:#000;
$border_color:#333;
$tour_border:#D2D6D5;
$link_color:#178CE6;
$book_color:#FAFAFA;
$date_color:#9A9898;